body {
    margin-top: 46px;
    padding-top: 50%;
    background-image: url("./img/chicago.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}